.header{
    height: 50px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:white;
    border-bottom-width: 2px;
    border-bottom-style:solid;
    border-bottom-color: rgb(242, 239, 239);
    z-index: 100;
}
.left-section{
    display:flex;
    align-items:center;
    padding-left: 10px;

}
.middle-section{
    flex:1;
    margin-left:30px;
    margin-right:35px;
    max-width:650px;
    display:flex;
    align-items:center;
    background-color: white;
    width: 700px;

}
.right-section{
    width:200px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 24px;
    flex-shrink:0;
}
.search-bar{
    flex:1;
    height: 37px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 226, 226);
    border-radius: 2px;
    box-shadow:inset 0px 0px 0px  #eee6e6;
    border-radius: 1px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 100px;
}

.search-bar::placeholder {
    font-size: 16px;
}
.list-icon{
    height: 36px;
    width: 20px;
    margin-right:11px;
    padding-left: 10px;
    padding-right: 9px;
    cursor: pointer;
    border-radius: 29px;
    margin-left: 8px;
}
.list-icon:hover{
    cursor: pointer;
    background-color:rgb(216, 211, 211);
}
.youtube-logo{
    height:53px;
    width: 93px;
    cursor: pointer;
    margin-top: 9.2px;
    margin-left: 2.9999px;
}
.youtube-logo-container{
    position: relative;
}
.tz-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: -18px;
    font-size: 11px;
}
.search-icon-button{
    height: 41.3px;
    width:60px;
    border-width: 1px;
    border-style: solid;
    margin-left: -2px;
    border-color: rgb(197, 194, 194);
    margin-right: 10px;
    cursor: pointer; 
    position: relative;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
}
.search-icon-button:hover{
    background-color:rgb(216, 211, 211);
}
.search-icon-button .tooltip,
.voice-search-button .tooltip,
.files-icon-container .tooltip,
.upload-icon-container .tooltip,
.notification-icon-container .tooltip{
    position: absolute;
    background-color: rgb(49, 48, 48);
    color:white;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom:8px;
    padding-top:8px;
    bottom:-38px;
    font-size: 13px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
    white-space: nowrap;
}
.search-icon-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.files-icon-container:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 32px;
    border-radius: 0px;
    padding-top: 4.5px; 
    padding-right: 7px; 
}

.voice-search-button{
    height: 47px;
    width: 46px;
    border-radius:35px;
    background-color: rgb(241, 238, 238);
    border-style:solid;
    border-color: rgb(255, 255, 255);
    cursor: pointer;  
}
.voice-search-button:hover{
    cursor: pointer;
    background-color:rgb(216, 211, 211); 
}
.voice-search{
    height: 40px;
    border-radius: 19px;
    width: 39px; 
}

.voice-search, 
.voice-search-button{
    position: relative;
    display: flex;
    justify-content: center;

}
.voice-search-button .tooltip{
    position: absolute;
     
}
.files-icon{
    height: 25px;
    width: 25;
    cursor: pointer;

}
.upload-icon{
    height: 32px;
    width: 32;
    cursor: pointer;
}

.notification-icon-container{
    position: relative;
    cursor: pointer;
    justify-content: center;
}
.notification-icon-container .tooltip{
    margin-left:-25px;
    margin-bottom: -10px;
}
.notification{
    height: 25px;
    width: 25;
}
.notification-count{
    color:white;
    position:absolute;
    top: -7px;
    right: -5px;
    background-color: red;
    border-radius: 10px;
    width: 14px;
    height: 17px;
    font-size: 12px;
    padding-left: 3px;
    padding-right: -1px;
    padding-top: 1px;
    padding-bottom: px;
    text-align: center;
    
}
.profile-photo{
    height: 40px;
    border-radius: 30px;
    width: 40px;
    cursor: pointer;
}
